body{
    margin: 0;
    background-color: rgb(193, 218, 209);
}
.navbar{
    background-color: black;
    color: white;
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mobilenavbar{
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    visibility: hidden;
}

.search{
    height: 13px;
}

a{
    text-decoration: none;
    color: white;
}

.store{
    background-color: cadetblue;
    align-items: center;
    display: flex;
    justify-content: center;
}

.aboutus{
    background-color: gray;
}

.footer{
    background-color: black;
    color: white;
    align-items: center;
    justify-items: center;
}

@media(max-width:500px){
    .mobilenavbar{
        visibility: visible;
    }
    .navbar{
        visibility: hidden;
    }
}